.game-card {
    height: 100vh;
    font-family: 'Open Sans', monospace;
}

.game-answer {
    background-color: whitesmoke;
    border-radius: 10px;
}


.retry-btn {
    color: white;
    background-color: #4E51D8;
    border-radius: 20px;
}